<div class="row">
  <div class="large-12 columns">
    <!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->
    <p><%= image_tag "passivepickerCTA.png" %></p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <a href="#" class="button large expand success round">Upload BOM</a>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="choiceDiv">
      <h1 class="choiceHeader">OR</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="questionsDiv">
      <h3>Answer a few quick questions</h3>
</div>

<%= form_tag '/', class: 'custom' do %>
  <div class="row">
    <div class="large-3 columns">
      <%= label_tag 'voltageDropdown', 'Project Voltage' %>
      <%= select_tag'voltageDropdown', '<option>3.3 Volts</option><option>5 Volts</option>'.html_safe, class: 'medium' %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      <%= label_tag 'footprintDropdown', 'Minimum Footprint Size' %>
      <%= select_tag'footprintDropdown', '<option>0402</option><option>0603</option><option>0805</option><option>1210</option><option>Through Hole</option>'.html_safe, class: 'medium' %>
    </div>
  </div>

  <%= field_set_tag 'Resistors', id: 'resistorFieldset' do %>
    <div class="row collapse">
      <!--
      <small class="error">Invalid entry: Quantity must be blah, resistance must be</small>
      -->
      <div class="large-2 columns">
        <%= text_field_tag 'resistorQuantity1', nil, placeholder: 'Quantity, ex. "7"' %>
      </div>
      <div class="large-4 columns">
        <%= text_field_tag 'resistorValue1', nil, placeholder: 'Resistance, ex. "10M" or "5K" or "470"' %>
      </div>
      <div class="large-6 columns">
        <%= content_tag(:a, 'Add Resistor', class: 'button postfix addResistor', href: 'javascript:;') %>
      </div>      
    </div>
  <% end %>
  <%= field_set_tag 'Capacitors', id: 'capacitorFieldset' do %>
    <div class="row collapse">
      <div class="large-2 columns">
        <%= text_field_tag 'capacitorQuantity1', nil, placeholder: 'Quantity, ex. "3"' %>
      </div>
      <div class="large-4 columns">
        <%= text_field_tag 'capacitorValue1', nil, placeholder: 'Capacitance, ex. "15pF" or "0.1uF"' %>
      </div>
      <div class="large-6 columns">
        <%= content_tag(:a, 'Add Resistor', class: 'button postfix addCapacitor', href: 'javascript:;') %>
      </div>      
    </div>
  <% end %>
  <div class="row">
    <div class="large-12 columns">
      <%= submit_tag 'Pick Passives', class: 'button large expand round success' %>
    </div>
  </div> 
<% end %>





<!--
<hr class="line" />
<div class="row">
  <div class="large-12 columns">
    <a href="#" class="button large expand round">About How We Pick</a>
  </div>
</div>
-->



